/* event */
tr.eventList td,
.eventList {
	border: 1px solid #ccc;
	padding: 4px;
	background-color: #f5f5f5;
	vertical-align: top;
}

tr.eventList2 td,
.eventList2 {
	border: 1px solid #ccc;
	padding: 4px;
	background-color: #e5e5e5;
	vertical-align: top;
}

tr.eventList:hover td,
tr.eventList2:hover td {
	background-color: #ccffcc !important;
	cursor:default;
}

tr.eventList3 td,
.eventList3 {
	border: 1px solid #ccc;
	padding: 4px;
	background-color: #f5f5f5;
	vertical-align: top;
}

.eventHeader,
tr.eventHeader th,
tr.eventHeader td {
	font-size:10pt;
	color:#555;
	border: 1px solid #ccc;
	padding: 4px;
	vertical-align: middle;
	text-align:center;
	font-weight:bold;
	background-color: #ddd;
  text-transform: uppercase;
}

table.eventAdd th {
	font-size:10pt;
	color:#555;
	border: 1px solid #ddd;
	padding: 6px 10px;
	vertical-align: top;
	text-align:right;
	font-weight:normal;
	background-color: #f5f5f5;
}

table.eventAdd td {
	border: 1px solid #ddd;
	padding: 6px 10px;
	vertical-align: top;
	background-color: #f5f5f5;
}

table.no-border td {
	border: 0 !important;
}